{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Normalization Out Of Vocabulary Bahasa Indonesia</title>
        <link rel="stylesheet" type = "text/css" href="{% static 'word2vec_web/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'word2vec_web/css/bootstrap.min.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("button").click(function(){
                    var text = $('#your-text').val();
                    console.log(text);
                    $("#h21").html("memproses.....");
                    $.ajax({
                        type: "POST",
                        url: "/word2vec/web/",
                        data: {text: $('#your-text').val()},
                        success: function(data) {
                            $("#h21").html(data);
                    }});
                });
            });
            
        </script>

    </head>
    <body>
        <div class="container-fluid justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">
                        Normalization Out Of Vocabulary Bahasa Indonesia
                    </h3>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-10">
                    <form id='normalisation' method="post">
                        {% csrf_token %}
                        {{ form }}
                        <div class="form-group">

                            <input type="text" class="form-control" id="your-text" name="your-text" value="{{ current_name }}">
                        </div>
                        
                    </form>
                    <button type="submit" value="input" class="btn btn-primary">Normalisasi</button>

                    <div class="col-md-12"><h2 id="h21"></h2></div>
                        
                    <div id="div1" style="width:80px;height:80px;display:none;background-color:red;"></div>

                </div>

                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        <!-- output text disini -->
                    </h3>
                </div>
            </div>
        </div>

    </body>
</html>